.banner {
  background-size: cover;
  background-position: center;
  // padding: 150px 0;
  text-align: center;
  // min-height: 500px;
  height: 100vh;
  // justify-content: space-around;
  // align-items: center;
}

.banner h1 {
  margin: 0;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: black;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.image-clin{
  max-height: 300px;
  max-width: 300px;
  margin-top: 100px;
}

.arrow {
  text-align: center;
  margin: 6% 0;
  p {
    color: $red;
    text-decoration: none;
    font-size: 20px;
  }
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
