.btn-bottom-right {
  position: absolute;
  right: 12px;
  bottom: 0;
}

.icone-green {
  font-size: 20px;
  color: #40B26A;
}


.icone-red {
  font-size: 20px;
  color: #EA1212;
}

.icone-smaller {
  font-size: 16px;
  color: #282328;
  margin-left: 20px;
}
